* {
  box-sizing: border-box; }

header {
  padding: 3rem;
  background: url(../img/hero-01.png);
  background-size: cover;
  height: 100vh;
  margin: 0;
  text-align: center; }
  header img {
    justify-self: center;
    margin: 0; }

header .logo {
  width: 15rem;
  margin: 0;
  text-align: center; }
  header .logo .logo img {
    justify-self: center;
    margin: 0; }

.story {
  display: grid;
  background-color: #91A2B1;
  color: #fff;
  padding: 5rem; }
  .story h1 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    font-size: .9rem; }
  .story p {
    font-family: 'Vollkorn', serif;
    text-align: left;
    font-size: 1rem;
    line-height: 1.75rem; }

@media screen and (min-width: 40em) {
  .story {
    margin: 0;
    padding: 8rem; }
    .story p {
      padding-left: 12rem;
      padding-right: 12rem;
      line-height: 2;
      text-align: center;
      font-size: 1rem;
      line-height: 1.75rem; } }
.product {
  color: #000;
  padding: 5rem; }
  .product h1 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    font-size: .9rem; }
  .product p {
    font-family: 'Vollkorn', serif;
    text-align: left;
    font-size: 1rem;
    line-height: 1.75rem; }
  @media screen and (min-width: 40em) {
    .product .product {
      padding: 7rem; }
    .product p {
      padding-left: 12rem;
      padding-right: 12rem;
      line-height: 2;
      text-align: center;
      font-size: 1rem;
      line-height: 1.75rem; } }

.features .content {
  text-align: center; }
  .features .content .number {
    font-family: 'Vollkorn', serif;
    font-size: 3rem;
    color: #E5E5E5;
    padding-bottom: 0;
    margin: 0;
    line-height: 1; }
  .features .content p {
    font-family: 'Vollkorn', serif;
    font-size: .9rem;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 2rem; }
  @media screen and (min-width: 40em) {
    .features .content .number {
      font-family: 'Vollkorn', serif;
      font-size: 6rem;
      color: #E5E5E5;
      padding-bottom: 0;
      margin: 0;
      line-height: 1.5; }
    .features .content p {
      font-family: 'Vollkorn', serif;
      font-size: 1.5rem;
      padding-left: 12rem;
      padding-right: 12rem;
      line-height: 1.75; } }

.row-one {
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-items: center;
  padding-top: 2rem; }
  .row-one .polish-image {
    background-color: #303B38;
    min-height: 10rem; }
  .row-one img {
    height: 15rem;
    display: block;
    margin: auto;
    transform: translateY(-3rem) rotate(-5deg); }

@media screen and (min-width: 40em) {
  .row-one {
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    grid-gap: 2rem;
    padding-top: 10rem; }
    .row-one .polish-image {
      background-color: #303B38;
      min-height: 20rem; }
    .row-one img {
      height: 35rem;
      display: block;
      margin: auto;
      transform: translateY(-6rem) rotate(-5deg); } }
.row-two {
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-items: center;
  padding-top: 7rem; }
  .row-two .polish-image {
    background-color: #91ADB1;
    min-height: 10rem; }
  .row-two img {
    height: 15rem;
    display: block;
    margin: auto;
    transform: translateY(-3rem) rotate(5deg); }

@media screen and (min-width: 40em) {
  .row-two {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    grid-gap: 2rem;
    padding-top: 10rem; }
    .row-two .polish-image {
      background-color: #91ADB1;
      min-height: 20rem; }
    .row-two img {
      height: 35rem;
      display: block;
      margin: auto;
      transform: translateY(-6rem) rotate(5deg); } }
.row-three {
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-items: center;
  padding-top: 7rem; }
  .row-three .polish-image {
    background-color: #BFA4A4;
    min-height: 10rem; }
  .row-three img {
    height: 15rem;
    display: block;
    margin: auto;
    transform: translateY(-3rem) rotate(-5deg); }

@media screen and (min-width: 40em) {
  .row-three {
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    grid-gap: 2rem;
    padding-top: 10rem; }
    .row-three .polish-image {
      background-color: #BFA4A4;
      min-height: 20rem; }
    .row-three img {
      height: 35rem;
      display: block;
      margin: auto;
      transform: translateY(-6rem) rotate(-5deg); } }
.row-four {
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-items: center;
  padding-top: 7rem; }
  .row-four .polish-image {
    background-color: #AF7849;
    min-height: 10rem; }
  .row-four img {
    height: 15rem;
    display: block;
    margin: auto;
    transform: translateY(-3rem) rotate(5deg); }

@media screen and (min-width: 40em) {
  .row-four {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    grid-gap: 2rem;
    padding-top: 10rem; }
    .row-four .polish-image {
      background-color: #AF7849;
      min-height: 20rem; }
    .row-four img {
      height: 35rem;
      display: block;
      margin: auto;
      transform: translateY(-6rem) rotate(5deg); } }
.row-five {
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-items: center;
  padding-top: 7rem; }
  .row-five .polish-image {
    background-color: #253848;
    min-height: 10rem; }
  .row-five img {
    height: 15rem;
    display: block;
    margin: auto;
    transform: translateY(-3rem) rotate(-5deg); }

@media screen and (min-width: 40em) {
  .row-five {
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    grid-gap: 2rem;
    padding-top: 10rem; }
    .row-five .polish-image {
      background-color: #253848;
      min-height: 20rem; }
    .row-five img {
      height: 35rem;
      display: block;
      margin: auto;
      transform: translateY(-6rem) rotate(-5deg); } }
.shop {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  padding: 7rem; }

.headline {
  grid-row: 1;
  grid-column: 1; }
  .headline h1 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    font-size: .9rem;
    line-height: 1.25rem;
    padding-bottom: 5rem; }
  .headline h3 {
    text-align: center;
    font-size: 1rem;
    color: #969393; }

.options img {
  justify-self: center;
  width: 100%;
  padding: 2rem; }
.options h1 {
  padding-top: 0rem; }
.options h2 {
  font-family: 'Vollkorn', serif;
  font-size: .8rem;
  text-align: center; }
.options h3 {
  text-align: center;
  color: #969393;
  font-family: 'Vollkorn', serif;
  font-size: 1rem; }
.options button {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-size: .5rem;
  padding: .5rem;
  background-color: transparent;
  border: solid 1px black; }

.col-1 {
  display: grid;
  place-items: center;
  padding-bottom: 5rem; }

.col-2 {
  display: grid;
  place-items: center;
  padding-bottom: 5rem; }

.col-3 {
  display: grid;
  place-items: center;
  padding-bottom: 5rem; }

.col-4 {
  display: grid;
  place-items: center;
  padding-bottom: 5rem; }

@media screen and (min-width: 40em) {
  .shop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    padding: 8rem; }

  .headline {
    grid-column: 1 / span 4;
    grid-row: 1;
    padding: 6rem;
    padding-top: 0rem;
    padding-bottom: 0rem; }
    .headline h1 {
      padding-top: 0rem;
      font-size: 1rem;
      padding-bottom: 5rem; }

  button {
    place-self: center;
    justify-self: center; }

  .options {
    display: grid;
    grid-column: 1 / span 4;
    grid-row: 2;
    grid-gap: 8rem; }
    .options h2 {
      font-family: 'Vollkorn', serif;
      font-size: .9rem; }
    .options h3 {
      font-family: 'Vollkorn', serif;
      font-size: 1rem;
      color: #969393; }
    .options .col-1 {
      display: grid;
      grid-column: 1;
      grid-row: 1;
      justify-items: center; }
    .options .col-2 {
      display: grid;
      grid-column: 2;
      grid-row: 1;
      place-items: center; }
    .options .col-3 {
      display: grid;
      grid-column: 3;
      grid-row: 1;
      place-items: center; }
    .options .col-4 {
      display: grid;
      grid-column: 4;
      grid-row: 1;
      place-items: center; }
    .options img {
      justify-self: center;
      width: 100%;
      padding: 1rem; } }
.faq {
  display: grid;
  grid-column: 1;
  grid-row: 6;
  background-color: #91A2B1;
  color: #fff;
  padding: 3rem; }
  .faq h1 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    font-size: .9rem; }
  .faq h2 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: .9rem;
    letter-spacing: 1px;
    font-weight: 400;
    padding-top: 2rem;
    line-height: 1.5rem; }
  .faq p {
    font-family: 'Vollkorn', serif;
    line-height: 1.5rem; }

@media screen and (min-width: 40em) {
  .faq {
    display: grid;
    grid-column: 1;
    grid-row: 6;
    padding: 5rem; }

  h1 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    font-size: .9rem; }

  h2 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: .9rem;
    letter-spacing: 1px;
    font-weight: 400;
    padding-top: 2rem; }

  p {
    font-family: 'Vollkorn', serif;
    padding-left: 12rem;
    padding-right: 12rem;
    line-height: 1.5rem; } }
.locations {
  display: grid;
  padding: 6rem;
  text-align: center; }
  .locations h1 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    font-size: .9rem; }
  .locations p {
    font-family: 'Vollkorn', serif;
    line-height: 1.5rem; }

.locations ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  align-self: end;
  align-items: center; }

@media screen and (min-width: 40em) {
  .locations ul {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr; } }
.locations ul a {
  text-align: center;
  text-decoration: none;
  font-size: 1.25rem;
  display: block;
  padding: 5rem;
  padding-bottom: 0; }

footer {
  display: grid;
  grid-gap: 2rem;
  padding-top: 5rem;
  background: url(../img/footer-01.png);
  background-size: cover; }
  footer img {
    width: 15rem;
    justify-self: center; }
  footer h1 {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    font-size: .9rem; }
  footer p {
    color: #fff;
    padding: 0; }
  footer form {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-self: center;
    margin: 0;
    grid-gap: 1rem;
    width: 310px; }
    footer form .form-input input {
      grid-column: 1;
      grid-row: 1;
      background-color: #fff;
      border: none;
      color: #646464;
      margin: 0;
      font-family: 'Vollkorn', serif;
      font-weight: 300;
      font-size: .9rem;
      letter-spacing: .5px;
      padding: .5rem; }
      footer form .form-input input .form-input {
        display: grid;
        margin: 0; }
      footer form .form-input input input:-internal-autofill-selected {
        background-color: transparent;
        border: none; }
      footer form .form-input input input:focus {
        border: none;
        padding: 1rem; }
    footer form .form-button input {
      grid-column: 2;
      grid-row: 1;
      background-color: #fff;
      border: none;
      font-family: 'Open Sans', sans-serif;
      color: #646464;
      margin: 0;
      font-weight: 300;
      font-size: .9rem;
      letter-spacing: .5px;
      margin-bottom: .5rem;
      padding: .5rem; }

footer ul {
  display: inline-block;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  grid-template-rows: auto;
  grid-template-columns: auto;
  padding: 0; }
  footer ul li {
    list-style: none;
    display: inline-block;
    padding: 1rem;
    padding-top: 0;
    text-align: center;
    justify-content: center;
    align-items: center; }
    footer ul li ul li a {
      color: #fff; }
  footer ul .fab {
    color: #fff;
    font-size: 2rem; }
  footer ul footer ul a {
    justify-content: center;
    text-decoration: none;
    font-size: 3.25rem;
    display: grid;
    padding: 0;
    margin: 0;
    padding-bottom: 0;
    color: #fff; }

h3 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: .8rem;
  letter-spacing: .5px;
  font-weight: 400; }

/*# sourceMappingURL=main.css.map */
